.userComponent {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 1em;
    grid-template-rows: repeat(auto-fill, 200px);
    padding: 20px;
    height: 100vh;
}

.userItem {
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px 10px;
    flex-direction: column;
    text-align: center;
}

.delButton {
    background-color: #ea6262;
}


.createButton {
    background-color: #508848;
    color: white;
}
